{% extends "admin.html" %}{% block style %}


<style>
    body {
        background: #FDFEFE;
    }
    
    #accCont {
        margin: 40px auto;
        padding: 20px;
        width: 80%;
        justify-content: center;
        border: 1PX solid lightgrey;
        background: #E8F6F3;
    }
    
    hr {
        opacity: 0;
    }
    
    button {
        width: 100%;
    }
</style> {% endblock %} {% block main %} {% if page_Display=='customers' or page_Display=='sellers' %}

<div class="" id="accCont">
    <h2 class="my-1" style="text-align:center;">Account</h2>
    <form class="row g-3" method="post" autocomplete="on" action="/admin/data/{{page_Display}}/edit/{{data.custId}}{{data.Id}}" enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="inputname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="inputname" name="fullName" value="{{data.custName}}{{data.Name}}" placeholder="Full Name" autofocus="on" required>
        </div>
        <div class="col-md-6">
            <label for="inputdob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="inputdob" required name="dob" value="{{data.custDoB}}{{data.DoB}}" placeholder="Date of Birth">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" required name="email" value="{{data.custEmail}}{{data.Email}}" placeholder="Email ID">
        </div>
        {% if page_Display=='sellers' %}
        <div class="col-md-6">
            <label for="inputCompany" class="form-label">Company Name:</label>
            <input type="text" class="form-control" id="inputCompany" value="{{data.Company}}" placeholder="Company Name" name="Company">
        </div>
        <div class="col-md-6">
            <label for="inputLicense" class="form-label">License No.</label>
            <input type="text" class="form-control" id="inputLicense" value="{{data.LicenseId}}" placeholder="License No." required name="LicenseId">
        </div>
        <div class="col-md-6">
            <label for="inputWeb" class="form-label">Website (optional)</label>
            <input type="text" class="form-control" id="inputWeb" value=" {{data.Website}}" placeholder="Website" name="Website">
        </div>

        {% endif %}
        <div class="col-md-6">
            <label for="inputMob" class="form-label">Mobile No</label>
            <input type="tel" class="form-control" id="inputMob" required name="phoneNo" value="{{data.custMobile}}{{data.Mobile}}" maxlength="10" placeholder="Phone No." pattern="[0-9]{10}">
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="text" class="form-control" id="inputPassword4" autocomplete="off" value="{{data.custPasswd}}{{data.Passwd}}" required name="password" placeholder="Password">
        </div>

        <div class="col-md-4" id="states">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select" onchange="stateselector()" required name="state" value="{{data.custState}}" placeholder="Select Your State">
            
            {% if srNo=='0' %}
            <option selected>Select your state</option>
            {% else %}
            <option selected>{{data.custState}}{{data.State}}</option>
             {% endif %}          
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputCity" class="form-label">City</label>
            <select id="inputCity" class="form-select" style="height:max-content ;" required name="city" value="{{data.custCity}}" placeholder="Select Your City">
                <option selected>{{data.custCity}}{{data.City}}</option>
              </select>
        </div>
        <div class="col-md-3">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip" value="{{data.custZip}}{{data.Zip}}" required name="zip" placeholder="zip code">
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" value=" {{data.custAddress}}{{data.Address}}" placeholder="1234 Main St" required name="Address">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" value=" {{data.custAddress2}}{{data.Address2}}" placeholder="Apartment, studio, or floor" name="Address2">
        </div>
        <div class="col-12">
            <!-- <div class="d-grid gap-2 col-8 mx-auto"> -->
            <button class="btn btn-primary" type="submit">Save Changes</button>
            <!-- </div> -->
        </div>
    </form>
</div>{% endif %} {% if page_Display=='products' %}

<div class="" id="accCont">
    <h2 class="my-1" style="text-align:center;">Account</h2>
    <form class="row g-3" method="post" autocomplete="on" action="/admin/data/products/edit/{{data.prodId}}" enctype="multipart/form-data">
        <div class="col-12">
            <label for="inputname" class="form-label">Product Name</label>
            <textarea type="text" rows="1" class="form-control" id="inputname" name="Name" value="{{data.name}}" placeholder="Full Name" autofocus="on" required>
                {{data.name}}
            </textarea>
        </div>
        <div class="col-12">
            <label for="inputdesc" class="form-label">Description</label>
            <textarea type="text" rows="4" style="height:auto;" class="form-control" id="inputdesc" required name="Desc" value="{{data.description}}" placeholder="Product Description">
                {{data.description}}
            </textarea>
        </div>
        <div class="col-12">
            <label for="inputLongDesc" class="form-label">Long Description</label>
            <textarea type="text" rows="4" class="form-control" id="inputLongDesc" required name="LongDesc" value="{{data.longDesc}}" placeholder="Long Description">
                {{data.longDesc}}
            </textarea>
        </div>
        <div class="col-12">
            <label for="inputtags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="inputtags" required name="Tags" value="{{data.tags}}" placeholder="Tags">
        </div>



        <div class="col-md-6">
            <label for="inputPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="inputPrice" value="{{data.price}}" placeholder="Product Price" required name="Price">
        </div>

        <div class="col-md-6">
            <label for="inpuStatus" class="form-label">Available</label>
            <select id="inpuStatus" class="form-select" style="height:max-content ;" required name="Available" placeholder="Select Product Availibility">
                <option selected>{{data.available}}</option>
                <option>Available</option>
                <option>Unavailable</option>
            </select>
        </div>

        <div class="col-12">
            <label for="inputSeller" class="form-label">Sold By</label>
            <input type="text" class="form-control" id="inputSeller" value="{{data.soldBy}}" placeholder="Seller Name" name="Seller">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endif %}

<!-- 
{% if page_Display=='sellers' %}
<div class="container my-1" id="accCont">
    <h2 class="my-1" style="text-align:center;">Sellers</h2>

    <form class="row g-3" method="post" autocomplete="on" action="/admin/data/sellers/edit/{{data.Id}}" enctype="multipart/form-data">


        <div class="col-md-6">
            <label for="inputname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="inputname" name="fullName" placeholder="Full Name" autofocus="on" required>
        </div>
        <div class="col-md-6">
            <label for="inputdob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="inputdob" required name="dob" placeholder="Date of Birth">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" required name="email" placeholder="Email ID">
        </div>
        <div class="col-md-6">
            <label for="inputMob" class="form-label">Mobile No</label>
            <input type="tel" class="form-control" id="inputMob" required name="phoneNo" maxlength="10" placeholder="Phone No." pattern="[0-9]{10}">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" autocomplete="off" required name="password" placeholder="Password">
        </div>

        <div class="col-md-4" id="states">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select" onchange="stateselector()" required name="state" placeholder="Select Your State">
            <option selected>Select Your State</option>
          </select>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <select id="inputCity" class="form-select" required name="city" placeholder="Select Your City">
                <option selected>Please select State first</option>
              </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip" required name="zip" placeholder="zip code">
        </div>
        {% if pageDisplay=='sellers' %}
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required name="Address">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="Address2">
        </div>
        <div class="col-md-4">
            <label for="inputCompany" class="form-label">Company Name:</label>
            <input type="text" class="form-control" id="inputCompany" placeholder="Company Name" name="Company">
        </div>
        <div class="col-md-4">
            <label for="inputLicense" class="form-label">License No.</label>
            <input type="text" class="form-control" id="inputLicense" placeholder="License No." required name="LicenseId">
        </div>
        <div class="col-md-4">
            <label for="inputWeb" class="form-label">Website (optional)</label>
            <input type="text" class="form-control" id="inputWeb" placeholder="Website" name="Website">
        </div>
        {% else %}
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required name="Address">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="Address2">
        </div>
        {% endif %}
        <div class="col-12">
            <div class="form-check" style="display:flex;  flex-flow: row wrap;">

                <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked required> &nbsp; I accept the &nbsp; <span><a data-bs-toggle="modal" style="color:black ;text-decoration: underline; cursor: pointer;" data-bs-target="#privacy" aria-controls="offcanvasTop"> terms and conditions</a></span>                {% if pageDisplay=='sellers' %}
                <p style="text-align:right ;color:black;margin-left:180px">Already have Account , <a style="color: black; " href="/login/sellers">Log In </a>instead</p>
                {% else %}
                <p style="text-align:right ;color:black;margin-left:180px">Already have Account , <a style="color: black; " href="/login/customers">Log In </a>instead</p>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <div class="d-grid gap-2 col-8 mx-auto">
                <button class="btn btn-primary" type="submit">Sign UP</button>
            </div>
        </div>
    </form>
</div> -->
{% endif %} {% if page_Display=='orders' %}{% endif %} {% endblock %}{% block script %} {% if page_Display=='customers' %}
<script>
    let inputState = document.getElementById("inputState");
    let inputCity = document.getElementById("inputCity");
    async function statesLoader() {
        let fetching = await fetch("/static/ds/states.json");
        let data = await fetching.json();
        return data;
    }


    let a = statesLoader();
    a.then(data => statesAdder(data))
    let html = "";

    function statesAdder(data) {
        Array.from(data).forEach((elem, index) => {
            html += `<option class="state"> ${elem.name} </option>`
        });
        inputState.innerHTML += html;
    }
    let state = document.getElementsByClassName("state")
    Array.from(state).forEach(elem => {
        elem.addEventListener("select")
    })




    let selectedState;

    function stateselector() {
        selectedState = inputState.value;
        async function cityLoader() {
            let fetching = await fetch("/static/ds/districts.json");
            let data = await fetching.json();
            return data;
        }

        let b = cityLoader();
        b.then(data => cityAdder(data))
            // let html2 = "";
        console.log(inputState.value);
    }
    let html2 = "";

    function cityAdder(data) {
        // console.log(data.states)
        html2 = "";
        inputCity.innerHTML = `<option class="city"> Select Your City </option>`;
        Array.from(data.states).forEach((element, index) => {

            if (element.state.toLowerCase() == selectedState.toLowerCase()) {
                Array.from(element.districts).forEach(elem => {
                    // html2+="" 
                    html2 += `<option class="city"> ${elem} </option>`
                    console.log(elem)
                })

            }
            // html += `<option> ${elem.name} </option>`
        });
        inputCity.innerHTML += html2;
    }
</script>{% endif %} {% endblock %}