{% extends "layout.html" %}{% block style %}
<style>
    .hide {
        display: none;
    }
    
    button {
        min-width: 50px;
    }
</style>
{% endblock %} {% block main %}
<div class="container" style="background:lightgoldenrodyellow ;min-height:90vh;">
    <div class="my-3" style="font-weight:bolder ;font-size:x-large;color:rgb(3, 139, 141)"> Cart :</div>


    <div class="vstack gap-3 my-2">
        {% if prod|length> 0 %} {% for prodItems in prod %} {% if prodItems.img1 != none or prodItems.img2 != none or prodItems.img3 != none or prodItems.img4 != none %}

        <div class="card mb-3 mx-3 scaler" style="width: 98%; border-bottom: 1px solid grey;">
            <div class="row g-0">
                <div class="col-md-3">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="carousel-inner">
                            {% if prodItems.img1 != none %}
                            <div class="carousel-item active" data-bs-interval="5000">
                                <img src="/static/imgUpload/imgProducts/{{prodItems.img1}}" height="300" width="500" class="d-block w-100" alt="...">
                            </div>{% endif %} {% if prodItems.img2 != none %}
                            <div class="carousel-item" data-bs-interval="5000">
                                <img src="/static/imgUpload/imgProducts/{{prodItems.img2}}" height="300" width="500" class="d-block w-100" alt="...">
                            </div>{% endif %} {% if prodItems.img3 != none %}
                            <div class="carousel-item" data-bs-interval="5000">
                                <img src="/static/imgUpload/imgProducts/{{prodItems.img3}}" height="300" width="500" class="d-block w-100" alt="...">
                            </div>{% endif %} {% if prodItems.img4 != none %}
                            <div class="carousel-item" data-bs-interval="5000">
                                <img src="/static/imgUpload/imgProducts/{{prodItems.img4}}" height="300" width="500" class="d-block w-100" alt="...">
                            </div>{% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-body"><br>
                        <p class="hide indexGenerate">{{loop.index0}}</p>
                        <p class="hide priceGenerate">{{prodItems['price']}}</p>
                        <a href="/reviews/{{prodItems.prodId}}=view" style="text-decoration:none ;">
                            <h5 class="card-title" style="padding-bottom:10px ;">{{prodItems['name']}}</h5>
                        </a>
                        <small class="card-text d-flex flex-row" style="padding-bottom: 10px;">{{prodItems['description']}}</small>
                        <div class="d-flex justify-content-between align-items-center mx-auto ">
                            <div class="d-grid gap-2 col-6 mx-auto px-0">
                                <div class="btn-group w-50" style="text-align:end;" role="group" aria-label="Basic outlined example">
                                    <a href="/cart/quantity/edit/{{prodItems['prodId']}}/minus"><button type="button" class="btn btn-outline-primary" onclick='decrement("{{loop.index0}}")'>-</button>
                                    </a>
                                    <input id='demoInput{{loop.index0}}' class="btn btn-outline-primary" style="width:50%" type="text" min=0 value="cart[{{loop.index0}}]. quantity" max=1000>
                                    <a href="/cart/quantity/edit/{{prodItems['prodId']}}/plus"><button type="button " class="btn btn-outline-primary " onclick='increment("{{loop.index0}}")'>+</button>
                                    </a>
                                </div>
                                <div class="px-3 " style="text-align:left;margin-left:10%;">Just at &#8377 <span class="prodPrice" style="font-weight:bolder ;"> {{prodItems['price']}} </span> /-</div>

                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto px-0 ">
                                <a href="/account/cart/remove/{{prodItems['prodId']}}/1" type="button px-3 px-lg-3 " class="btn btn-outline-dark ">
                                    Remove
                                </a>
                                <a href="/checkout/nocart/{{prodItems['prodId']}}=order" type="button px-3 px-lg-3 " class="btn btn-outline-dark ">Order Now</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %} {% endfor %}
        <div class="d-grid gap-4 col-6  mx-auto px-0 py-5 ">
            <button type="button my-3 px-4 px-lg-3" class="btn btn-outline-dark " disabled><span style="font-weight:bold;font-size:large;">Subtotal : &#8377 <span id="subTotal"></span> /-</span></button>
            <a href="/checkout/cart/1=order" type="button my-3 px-3 px-lg-3" class="btn btn-outline-dark " style="font-weight:bold;font-size:large;">Order All</a>
        </div>

        {% else %}
        <div class="card mb-3 mx-3 scaler" style="width: 98%; border-bottom: 1px solid grey; text-align:center;">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body"><br>
                        <h1 class="card-title" style="padding-bottom:10px ;">You have not Added any Item to the Cart</h1>
                        <h4 class="card-text" style="padding-bottom: 10px;">Please Add Items to the Carts</h4>
                        <a href="/" type="button px-3 px-lg-3 " class="btn btn-outline-dark ">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endif %}{% for item in cart %}
    <p class="hide quantityGenerate">{{item['quantity']}}</p>
    {% endfor %}
</div>


{% endblock %}{% block script %}
<script>
    let prodPrice = document.getElementsByClassName('prodPrice');
    let indexGenerate = document.getElementsByClassName("indexGenerate");
    let quantityGenerate = document.getElementsByClassName("quantityGenerate");
    let priceGenerate = document.getElementsByClassName("priceGenerate");
    let subTotal = document.getElementById("subTotal");
    let indexArr = [];
    let quantityArr = [];
    let priceArr = [];
    let finalPrice = [];
    let sum = 0;
    Array.from(indexGenerate).forEach((elem) => {
        indexArr.push(elem.innerHTML);
    })
    Array.from(quantityGenerate).forEach((elem, index) => {
        quantityArr.push(elem.innerHTML);
        document.getElementById(`demoInput${index}`).value = elem.innerHTML;
    })
    Array.from(priceGenerate).forEach((elem) => {
        priceArr.push(elem.innerHTML);
    })
    console.log(indexArr, quantityArr, priceArr)
    indexArr.forEach((elem, index) => {
        prodPrice[index].innerHTML = (priceArr[index] * quantityArr[index]);
        finalPrice.push(priceArr[index] * quantityArr[index])
    })
    finalPrice.forEach((elem, index) => {
        sum += elem;
    })
    subTotal.innerHTML = sum;

    function increment(index) {
        document.getElementById(`demoInput${index}`).stepUp();
    }

    function decrement(index) {
        document.getElementById(`demoInput${index}`).stepDown();
    }
</script>
{% endblock %}